name: update scores

on:
  issues:
    types: [opened]

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
      - run: python ./content/score_update.py "${{ github.event.issue.title }}"
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update scoreboard ("${{ github.event.issue.title }}")
      - name: Read scoreboard
        id: read_file
        uses: andstor/file-reader-action@v1
        with:
          path: "./content/scoreboard.md"

      - name: Close Issue
        uses: peter-evans/close-issue@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          comment: ${{ steps.read_file.outputs.contents }}